.App{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
}
.calc-title{
    grid-column: 3/10;
    justify-self:center ;
    font-size: 2rem;
}
.container{
    grid-column: 3/10;
}
@media screen and (max-width:500px) {
    .container, .calc-title{
        grid-column: 1/-1;
    }
    .calc-title{
        font-size: 1.6rem;
    }
}