.App{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
}
.calc-title{
    grid-column: 1/-1;
    justify-self:center ;
}
.container{
    grid-column: 3/10;
}
